/* attarction Page */
.main-area {
  position: relative;
  width: 1280px;
  height: 536px;
  padding: 23px 27px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image {
  position: absolute;
  top: 23px;
  bottom: 23px;
  left: 27px;
  right: 27px;
  background-image: url('../image/jpg/helo-image.jpg');
  background-repeat: no-repeat;
}
.main-area::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 50px;
  background: linear-gradient(
    175deg, 
    var(--grayColor) 0%,
    var(--grayColor) 40%,
    #fff 50%,
    #fff 100%
  );
  bottom: -25px;
  left: 0;
  z-index: -1;
}
.main-area::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 50px;
  background: linear-gradient(
    185deg, 
    var(--grayColor) 0%,
    var(--grayColor) 40%,  
    #fff 50%,
    #fff 100%
  );
  bottom: -25px;
  right: 0;
  z-index: -1;
}

.main-control {
  position: relative;
  width: 492px;
}
.control-text {
  width: 100%;
}
.control-text > p {
  color: var(--lightColor);
  font-size: var(--smail-font);
  line-height: 21px;
  
}

/* search */
.control-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.control-button, .control-select, .control-text-field{
  border-radius: 5px;
  height: 40PX;
}
.control-text-field {
  width: 90%;
  margin-bottom: 10px;
  padding: 0 12px 0 24px;
}
.control-text-field::placeholder {
  color: var(--grayLightColor);
}
/* select */
.control-select {
  font-size: 1.2rem;
  letter-spacing: 20px;
  width: 44%;
}
.select-item {

}
.tests {
  letter-spacing: 30px;
}

.control-button {
  width: 40px;
  height: 40px;
}
.search-button {
  background-color: var(--redColor);
}
.position-button {
  background-color: var(--yellowColor);
}
/* showAraa */
.show-area {
  width: 100%;
  height: 100vh;
  /* background-color: #ccc;   */
}

/*hot city*/
.hot-city-container {
 width: 100%;
 height: 245px; 
}
.city-show-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}
.city-button {
  transition: ease-in-out .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 21px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 15px 1px #fff,
  0px 2px 10px -1px #000;
  opacity: 0;
}
.city-button:hover {
  filter: invert(1);
  background-color: var(--lightColor);
}
.button-show {
  opacity: 1;
}


.hot-city-show {
  height: 100%; 
  display: grid;
  grid-template-columns: repeat(5, 202px);
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}


.city-show-item, .city-show-item2{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:
    0px -1px 10px 5px var(--lightColor),
    0px 2px 6px 0px var(--blackColor);
}
.city-show-item:nth-child(3n+1), .city-show-item2:nth-child(3n+1) {
  grid-row: 1/3;
}
.city-show-item:nth-child(3n+2), .city-show-item2:nth-child(3n+2) {
  grid-row: 1/2;
}
.city-show-item:nth-child(3n+3), .city-show-item2:nth-child(3n+3) {
  grid-row: 2/3;
}
.city-show-item > p {
  color: var(--lightColor);
  font-size: 20px;
}
.hot-city-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
}










