:root {
  --redColor: #FF1D6C;
  --greenColor: #007350;
  --yellowColor: #FFB72C;
  --blackColor: #0D0B0C;
  --grayColor: #ACACAC;
  --grayLightColor: #D2D2D2;
  --lightColor: #ffffff;

  /*font-size*/
  --smail-font: 14px;
}